/*  Body  */
body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/*  Hoofdcontainer  */
.bord-container {
  display: flex;
  width: 800px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*  Links: klok  */
.klok-blok {
  width: 120px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 5px solid #002775;
}

/* #klok {
  width: 100px;
  height: 100px;
  background: red;
  margin-left: 1px;
  margin-top: 1px;
  border-radius: 50%;
  background-image: url('NsKlok.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

#klok {
  position: relative;
  width: 77px;
  height: 77px;
  border-radius: 10px;
  background: #fff;

  transform: scale(1.6);

  opacity: 0;
  transition: all 0.2s;
}

body.loaded #klok {
  opacity: 1;
}

#wijzer-uur,
#wijzer-min,
#wijzer-sec {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
}

body.loaded #wijzer-uur,
body.loaded #wijzer-min,
body.loaded #wijzer-sec {
  transition: transform 1s;
}

#wijzer-uur,
#wijzer-min {
  background: black;
  border-radius: 0 0 1.5px 1.5px;
}

#wijzer-uur,
#wijzer-min,
#wijzer-sec .line,
#wijzer-sec .circle {
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
}

#wijzer-uur {
  margin-top: -5px;
  height: 30px;

  transform-origin: 1.5px 5px;
}

#wijzer-min {
  margin-top: -10px;
  height: 43px;

  transform-origin: 1.5px 10px;
}

#wijzer-sec {
  margin-top: -5px;
  height: 40px;

  transform-origin: 1.5px 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#wijzer-sec:before {
  content: "";
  position: absolute;
  top: 4px;
  width: 2px;
  height: 2px;
  background: #990000;
  border-radius: 2px;
}

#wijzer-sec .line {
  background: #990000;
  width: 1px;
  height: 15px;
}

#wijzer-sec .line:first-child {
  height: 20px;
}

#wijzer-sec .line:last-child {
  height: 10px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

#wijzer-sec .circle {
  border: 1px solid #990000;
  border-radius: 100%;
  width: 4px;
  height: 4px;
}

#minuten {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

#minuten .minuut {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -0.5px;
  width: 6px;
  height: 1.5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#minuten .minuut:before {
  content: "";
  display: block;
  background: #1441AD;
  width: 1px;
  height: 1px;
  border-radius: 3px
}

#minuten .minuut:nth-child(5n+1):before {
  width: 6px;
  height: 3px;
}

#logo {
  position: absolute;
  top: 68%;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 5px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgdmVyc2lvbj0iMS4xIiAgIHdpZHRoPSI1MzguMzI5NTMiICAgaGVpZ2h0PSIyMTAuMjYyNSIgICBpZD0ic3ZnMiIgICB4bWw6c3BhY2U9InByZXNlcnZlIiAgIGlua3NjYXBlOnZlcnNpb249IjAuNDguMSAiICAgc29kaXBvZGk6ZG9jbmFtZT0iQUpBWC5zdmciPjxzb2RpcG9kaTpuYW1lZHZpZXcgICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIgICAgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IiAgICAgYm9yZGVyb3BhY2l0eT0iMSIgICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiICAgICBncmlkdG9sZXJhbmNlPSIxMCIgICAgIGd1aWRldG9sZXJhbmNlPSIxMCIgICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIgICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iNjQwIiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iNDgwIiAgICAgaWQ9Im5hbWVkdmlldzEyIiAgICAgc2hvd2dyaWQ9ImZhbHNlIiAgICAgZml0LW1hcmdpbi10b3A9IjAiICAgICBmaXQtbWFyZ2luLWxlZnQ9IjAiICAgICBmaXQtbWFyZ2luLXJpZ2h0PSIwIiAgICAgZml0LW1hcmdpbi1ib3R0b209IjAiICAgICBpbmtzY2FwZTp6b29tPSIwLjQyMDk2Nzc0IiAgICAgaW5rc2NhcGU6Y3g9IjI2OS4xNjQ3NSIgICAgIGlua3NjYXBlOmN5PSIxMDUuMTMxMjUiICAgICBpbmtzY2FwZTp3aW5kb3cteD0iMCIgICAgIGlua3NjYXBlOndpbmRvdy15PSIwIiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIgICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9ImcxOCIgLz48bWV0YWRhdGEgICAgIGlkPSJtZXRhZGF0YTEzIj48cmRmOlJERj48Y2M6V29yayAgICAgICAgIHJkZjphYm91dD0iIj48ZGM6Zm9ybWF0PmltYWdlL3N2Zyt4bWw8L2RjOmZvcm1hdD48ZGM6dHlwZSAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz48ZGM6dGl0bGUgLz48L2NjOldvcms+PC9yZGY6UkRGPjwvbWV0YWRhdGE+PGRlZnMgICAgIGlkPSJkZWZzNiI+PGNsaXBQYXRoICAgICAgIGlkPSJjbGlwUGF0aDIwIj48cGF0aCAgICAgICAgIGQ9Im0gMCw4NDE4LjkgNTk1Mi43NSwwIEwgNTk1Mi43NSwwIDAsMCAwLDg0MTguOSB6IiAgICAgICAgIGlkPSJwYXRoMjIiICAgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgLz48L2NsaXBQYXRoPjwvZGVmcz48ZyAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMS4yNSwwLDAsLTEuMjUsLTEwMy45OTgsNjMxLjMyMjUpIiAgICAgaWQ9ImcxMiI+PGcgICAgICAgdHJhbnNmb3JtPSJzY2FsZSgwLjEsMC4xKSIgICAgICAgaWQ9ImcxNCI+PGcgICAgICAgICBpZD0iZzE2Ij48ZyAgICAgICAgICAgY2xpcC1wYXRoPSJ1cmwoI2NsaXBQYXRoMjApIiAgICAgICAgICAgaWQ9ImcxOCI+PHBhdGggICAgICAgICAgICAgZD0ibSAyNjY2LjczLDQ3MTcuODYgYyAzOC4xMywwIDY2LjU3LC0xOS4wNiA5NS4xNywtNDcuMzcgbCA0ODQuNzksLTQ4NC42NCBjIDk1LjE2LC05NS4wMiAxOTkuNTgsLTE0Mi42OCAzNDIuMjUsLTE0Mi42OCBsIDkwMy4xNSwwIC0zMzIuNzMsLTMzMi43MiAtODQ2LjI1LDAgYyAtNDcuNTEsMCAtNzUuODEsOS41MyAtMTA0LjQsMzguMTIgbCAtNDg0Ljk0LDQ4NC42NCBjIC05NS4wMiw5NS4zMSAtMTk5LjQzLDE0Mi42OCAtMzQyLjExLDE0Mi42OCBsIC05MDMuMTUsMCAzMzIuNzMsMzQxLjk3IDg1NS40OSwwIHogbSAzMzIuODcsMTkwLjA0IGMgLTk1LjAyLDk1LjMyIC0yMDkuMjYsMTQyLjY4IC0zMzIuODcsMTQyLjY4IGwgLTk4OC42NCwwIC04NDYuMTA2LC04MzYuMTQgODQ2LjEwNiwtODQ1Ljk2IDQ3NS40LDAgLTY3NC45OCw2NzQuNjkgOTAzLjE1LDAgYyAzNy45OCwwIDc1Ljk2LC05LjUzIDEwNC41NiwtMzguMTIgTCAyOTcxLDM1MTAuODcgYyA5NS4wMiwtOTUuMDIgMjA5LjExLC0xNDIuMzkgMzMyLjczLC0xNDIuMzkgbCA5OTguMTcsMCA4MzYuNzIsODQ1Ljk2IC04MzYuNzIsODM2LjE0IC00ODQuNzksMCA2NzQuOTgsLTY3NC42OSAtOTAzLjE1LDAgYyAtMzguMTIsMCAtNjYuNDMsMTkuMDYgLTk1LjAzLDM3Ljg0IiAgICAgICAgICAgICBpZD0icGF0aDI0IiAgICAgICAgICAgICBzdHlsZT0iZmlsbDojMzMzMzk5O2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpldmVub2RkO3N0cm9rZTpub25lIiAgICAgICAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAvPjwvZz48L2c+PC9nPjwvZz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

}


#klokimage {
  width: 100px;
  height: 100px;
  margin-left: 1px;
  margin-top: 1px;
  border-radius: 50%;
}



/*  Midden: treininformatie  */
.midden-blok {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.type {
  font-size: 25px;
  font-weight: bold;
  color: #003399;
  margin-bottom: 5px;
  margin-top: 6px;
  margin-left: 300px;
  position: absolute;
  top: 20px;
  right: 110px;
}

.vertrek {
  font-size: 24px;
  color: #012a7c;
  font-weight: bold;
}

.bestemming {
  font-size: 36px;
  font-weight: bold;
  color: #003399;
  margin: 5px 0;
}

.via {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}

.ns-logo {
  width: 80px;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
}

.spoorbord-afbeelding {
  width: 575px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* Blauwe "Hierna/next" balk */
.hierna {
  width: 100%;
  background-color: #003399;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Rechts: spoor */
.spoor-blok {
  width: 100px;
  background-color: #02256d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}